html, body {
    height: 100%;
    margin: 0;
    background-color: #0F0F0F;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    color: #DFCF99;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

ol {
    color: #A38D6D;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 20px;
}

ol li a {
    color: #DFCF99; 
    text-decoration: none;
    font-weight: bold;
}

ol li a:hover {
    text-decoration: underline;
}

ol::-webkit-scrollbar {
    width: 6px;
}
ol::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 10px;
}

li {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
}

input[type="checkbox"] {
    cursor: pointer;
    margin-top: 4px;
}

label {
    cursor: pointer;
    margin-left: 10px;
    flex: 1;
}

a {
    color: #A38D6D;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #A38D6D;
}

a:hover {
    color: #DFCF99;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.matar {
    color: red;
    font-weight: bold;
}

.pegar {
    color: green;
    font-weight: bold;
}

.trial {
    color: #51c28e;
    font-weight: bold;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + label span,
input[type="checkbox"]:checked + label a,
input[type="checkbox"]:checked + label b {
    text-decoration: line-through;
    font-style: italic;
    color: inherit;
    text-decoration: line-through;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.container-rodape {
    border-top: 1px solid #444;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.linha-navegacao, .linha-atos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha-atos {
    justify-content: center;
    gap: 20px;
    font-size: 1.5em;
}

.container-rodape a {
    text-decoration: none;
    color: #A38D6D;
    font-weight: bold;
    transition: color 0.2s;
}

.container-rodape a:hover {
    text-decoration: underline;
    color: #DFCF99;
}

.grade-atos {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 15px;
    margin-top: 50px auto;
    width: 100%;
    text-align: center;
}

.grade-atos a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1a1a1a;
    border: 1px solid #444;
    border-radius: 4px;
    min-height: 50px;
}

.grade-atos a:hover {
    background-color: #2a2a2a;
    border-color: #DFCF99;
    transform: translateY(-3px);
}